.serviceTables {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    border: 30px solid #3a4965;
    color: #484848;
    border-collapse: collapse;
    margin: 0 auto;
}
.tableContent {
    font-size: 16px;
}
td, th {
    height: 70px;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 2px 0 3px rgba(0,0,0,.3);
}
.services {
    min-width: 310px;
}
.col {
    min-width: 280px;
}
.plans {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.standard {
    background: #89c331;
}
.ultimate {
    background: #f04a56;
    font-size: 30px;
}
.premium {
    background: #20807c;
}
i.fas, i.far {
    margin-right: 10px;
    font-size: 24px;
}
tbody > tr:nth-of-type(2n) {
    background: #e3e3e3;
}
tbody > tr:nth-of-type(2n-1) {
    background: #f2f2f2;
}
.button {
    font-weight: bold;
    position: relative;
    padding: 18px 55px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.button::after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 7px;
    border-radius: 0 0 5px 5px;
    transition: height .3s, border-radius .2s;
}
.button:hover::after {
    content: '';
    border-radius: 5px;
    height: 100%;
}
.contactUs {
    background: #484848;
}
tfoot {
    background: #eeeeee;
    height: 110px;
}
.second-row {
    display: block;
    font-size: 30px;
    font-weight: bold;
}
thead > tr:nth-of-type(2) > th {
    text-align: right;
    font-size: 60px;
    font-weight: bold;
}
.cents {
    text-align: left;
    font-size: 24px;
    display: inline-block;
    width: 50%;
}
.cents::after {
    content: 'per month';
    display: block;
    font-size: 18px;
    font-weight: normal;
}